.clr-primary {
  color: $clr-primary !important;
}

.clr-secondary {
  color: $clr-secondary !important;
}

.bg-primary {
  background-color: $clr-primary;
}

.bg-secondary {
  background-color: $clr-secondary;
}

.clr-white {
  color: $clr-white !important;
}

.mbt-huge {
  margin-bottom: 10rem !important;
}

.mbt-large {
  margin-bottom: 8rem !important;
}

.mgn-bt-small {
  margin-bottom: 4rem !important;
}

.mbt-tiny {
  margin-bottom: 2rem !important;
}
